@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Symbol";
}

header.sticky {
  background: white;
  padding: 12px 15%;
  box-shadow: 0px 3px 8px rgba(255, 0, 0, 0.2);
}

.border-transition {
  transition: border-color 0.1s ease-in;
}

.bg-transition {
  transition: background-color 0.1s ease-in;
}

.segundo-slick .slick-track {
  display: flex;
  gap: 16px;
  overflow: hidden;
}
